<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.notifications1">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NOtifications1">
        <activity
            android:name=".AlarmDestinationActivity"
            android:exported="false" />

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".NetworkDestinationActivity"
            android:exported="false" />

        <service
            android:name=".NetworkServices"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".NetworkReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".IdleDeviceServices"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".IdleDeviceDestinationActivity"
            android:exported="false" />

        <receiver
            android:name=".IdleDeviceReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".GpsServices"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".LowBatteryDestinationActivity"
            android:exported="false" />

        <receiver
            android:name=".LowBatteryReceiver"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_LOW" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".BatteryDestinationActivity"
            android:exported="false" />

        <receiver
            android:name=".ChargingReceiver"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>